<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title> <!-- Usar la variable title -->
</head>
<body>
<h1>Bienvenido a <%= title %></h1>
<p>Esta es la página de inicio.</p>
</body>
</html>