<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/styles.css">
    <script src="/js/info.js"></script>
    <title>Información</title>
</head>
<body class="background fade-in">
<h1>README.md</h1>
<div>
    <%- content %>
</div>
</body>
</html>
